<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Attribute id="GUI.AppearanceMode" value="light"/>

	<!-- Windows -->
	<Attribute id="CCL.Win32.MultiTouchEnabled" value="1"/>

	<!-- OS X -->
	<Attribute id="CCL.OSX.TransparentTitlebar" value="1"/>
	<Attribute id="CCL.OSX.ColoredTitlebar" value="1"/>

	<!-- Android -->
	<!--
	<Attribute id="CCL.Android.StatusBarMode" value="auto"/>
	<Attribute id="CCL.Android.NavigationBarMode" value="hide"/>
	-->
</Configuration>
